<template name="headerNav">
    <div class="top-nav">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="{{_ "logo"}}">
            </a>
            <button type="button" class="navbar-toggle collapsed btn btn-primary" data-toggle="collapse" data-target="#sideNav">
            <span>
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </span>
            </button>
        </div>
        <div class="nav navbar-left">
<!--            <form class="navbar-form" role="search">
                <div class="input-group search">
                    <input type="text" class="form-control input-sm" id="inputSearch" placeholder="{{_ "search"}}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class=" glyphicon glyphicon-search" ></i>
                        </button>
                    </span>
                </div>
            </form>-->
        </div>
        <div class="nav navbar-right">
            <div class="user-profile-small" id="profile">
                {{> userSmall currentUserId}}
            </div>
        </div>
    </div>
</template>
